<%= form_tag sessions_path do %>
  <fieldset>
    <div class="field controls-row span5">
      <span class='input-prepend'>
        <i class="add-on icon-envelope-alt"></i>
        <%= text_field_tag :email, '', placeholder: "email" %>
      </span>
    </div>

    <div class="field controls-row span5">
      <span class='input-prepend'>
        <i class="add-on icon-key"></i>
        <%= password_field_tag :password, 
          '',
          placeholder: "password"
        %>
      </span>
    </div>
  </div>
  <div class="actions span5">
    <%= submit_tag :login, class: 'btn' %>
  </div>
</fieldset>
<% end %>
