<table class='table table-hover'>
  <%= will_paginate @recipes, class: 'pagination' %>

  <thead>
    <tr>
      <th>Recipes</th>
      <%= hidden_field_tag :user, :id, id: 'user-id', value: @user.try(:id) %>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr class='table-link'>
        <td><%= link_to recipe.title, recipe, class: 'no-style button-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
