<%= will_paginate @recipes, class: 'pagination' %>
<div class='container'>
  <% @recipes.each do |recipe| %>
    <% if @recipes.index(recipe) % 4 == 0 %><div class='row'><% end %>
      <div class='col-md-3'>
        <%= link_to recipe, class: 'no-style' do %></td>
        <div class="thumbnail">
          <h4><%= recipe.title.html_safe[0..30] %></h4>
          <%= image_tag recipe.random_thumbnail_url, class: 'img-responsive img-thumbnail' %>
        </div>
      <% end %>
    </div>
    <% if @recipes.index(recipe) % 4 == 3 %></div><% end %>
<% end %>
</div>
