<div id='comments'>
  <legend>Comments</legend>
  <div class='col-md-6' id='comments-list'>
    <%= render 'comments/all', comments: @recipe.comments.chronological, recipe: @recipe %>
  </div>
</div>
