<div class='row' id='comments'>
  <legend>Comments</legend>
  <div class='col-md-5'>
    <%= render 'comments/form', comment: Comment.new, recipe: @recipe %>
  </div>
  <%= render 'comments/all', comments: @recipe.comments.chronological %>
</div>
