<%= render 'shared/github_ribbon' %>

<div id='recipes-partial'>
  <%= render 'all' %>
</div>

<br>

<% if current_user %>
  <%= link_to new_recipe_path do %>
    <i class='icon-plus-sign'></i> New Recipe
  <% end %>
<% end %>
