%img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :style => "position: absolute; top: 52px; right: 0; border: 0; z-index: 1", :usemap => "#github-ribbon-map"}/
%map{:name => "github-ribbon-map"}
  %area{:coords => "148, 0, 15, 0, 148, 132", :href => "https://github.com/akofink/akrecipes", :shape => "poly", :target => "_blank"}/
