# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
development:
  adapter: postgresql
  host: localhost
  database: recipes_dev
  user: rails
  password: rails

test:
  adapter: postgresql
  host: localhost
  database: recipes_test
  user: rails
  password: rails

production:
  adapter: postgresql
  host: localhost
  database: recipes
  user: rails
  password: rails
