development:
  adapter: postgresql
  host: localhost
  database: recipes_dev
  user: postgres
  password: password

test:
  adapter: postgresql
  host: localhost
  database: recipes_test
  user: postgres
  password: password
