<nav>
<div class='navbar'>
  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to 'akRecipes', :root, class: 'brand', id: 'logo' %>
      <ul class="nav">
        <li><%= link_to 'Most Recent', most_recent_path %></li>
      </ul>
    </div>
  </div>
</div>
</nav>
